	<!--
	/* STANDARD */
html {height: 100%; width: 100%;}
body  {height: 100%; width: 100%; font: 100% Arial Narrow, Arial, sans-serif; text-decoration: none; background: #b7b7b7; margin: 0; padding: 0; text-align: center; color: #FFFFFF; font-size: 0pt; }
a:link {color: white;}
a:visited {color: white;}
a {border: none;}
.preloader{position: fixed; bottom: 0%; right: 0%; width: 1px; height: 1px; display: none;}

/* BASIC LAYOUT */
#container 	{z-index: 1; position: absolute; height: 100%; width: 100%; background: #b7b7b7; margin: auto; padding: 0; text-align: left;}

#main {background: #b7b7b7; height: 57.5%; position: absolute; top: 25%; width: 100%;}

#mm	{z-index: 3; margin: 0 0 0 0; position: relative; width: 90%; height: 100%; left: 5%; background: #b7b7b7;}


/* LOGO */
#bbimg {height: 100%;}
#bb {float: left; width: 12%; height: 18%; background: #B7B7B7; position: absolute; top: 3%; left: 5%; z-index: 2;}

/* NAV-LEISTE OBEN */
#nav {height: 5%; width: 90%; position: absolute; top: 16%; left: 5%; background: #b7b7b7; z-index: 1;}
#buero {float: right; height: 100%; width: 27%; position: absolute; right: 56%; border: none; background: #b7b7b7;}
#buero:hover {background: #9E9E9E;}
#projekte {text-align: center; float: right; height: 100%; width: 27%; position: absolute; right: 28%; border:  none; background: #b7b7b7;}
#projekte:hover {background: #9e9e9e;}
#kontakt {text-align: center; float: right; height: 100%; width: 27%; position: absolute; right: 0%; border:  none; background: #b7b7b7;}
#kontakt:hover {background: #9E9E9E;}

/* TEXTE */
#text2 {height: 24%; width: 90%; position: relative; top: 40%; left: 5%; background: #B7B7B7; font-size: 17pt; text-align: center; overflow: visible; letter-spacing: -0em;}
#text3 {font-style: italic; height: 20%; width: 14%; position: relative; top: 50%; left: 43%; background: #B7B7B7; font-size: 14pt; text-align: center;}


h1 {font-size: 18pt; font-weight: 100; letter-spacing: -0.05em;}
h2 {text-align: center; font-family: raleway, Arial Narrow, sans-serif; font-size: 20pt; color: white; padding: 10px 0px; border: 1px solid white; width: 99%; margin: 0px; border-radius: 4px;}
h2:hover {background: #9E9E9E;}
h3 {font-family: raleway, Arial Narrow, sans-serif; font-size: 16pt; color: white; padding: 10px; border: 1px solid white; width: 90%;}
h4 {text-align: center; font-family: raleway, Arial Narrow, sans-serif; font-size: 14pt; color: white; padding: 5px 0px; border: 1px solid white; width: 90%; margin: 0px;}

.active {background: #c4b3a1;}
.active:hover {background: #c4b3a1;}
