<!--

/* BILDER LINKS */
#mm{z-index: 1;}
#neuBuero{position: absolute; height: 100%; width: 100%;}
.buero #of {z-index: 2; float: left; position: relative; left: 0%; width: 21.8%; height: 100%;}
.buero #pa {float: left; position: relative; left: 0%;width: 40.1%; height: 100%;}
.buero #sc {float: left; position: relative; left: 0%; width: 16.1%; height: 100%;}
.buero #ar {float: left; position: relative; left: 0%; width: 22%; height: 100%;}

/* NAV-LEISTE UNTEN */
#nav2 {height: 5%; width: 90%; position: absolute; left: 5%; top: 87.4%; background: #b7b7b7;}

.button #essence {text-align: center; float: left; height: 100%; width: 21%; position: relative; left: 0.5%; border: none; background: #b7b7b7;}
.button #partners {text-align: center; float: left; height: 100%; width: 39%; position: relative; left: 1.5%; border: none; background: #b7b7b7;}
.button #sculpture {text-align: center; float: right; height: 100%; width: 15%; position: relative; right: 1.5%; border: none; background: #b7b7b7;}
.button #art {text-align: center; float: right; height: 100%; width: 21%; position: relative; right: 0.5%; border: none; background: #b7b7b7;}

-->
